name: Auto

on:
  workflow_dispatch:
    branches: [ "main" ]
  # `分 时 天 月 周` 时按照标准时间 北京时间=标准时间+8 18表示北京时间早上2点
  schedule:
    - cron: '*/5 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i
    - run: npm start

    env:
      corpid: ${{wwa8cb2b7b071a1196}}
      agentid: ${{1000005}}
      corpsecret: ${{DuX956niaBh0HUWq301HefLFBM2hiqvuwBszzpkMBLU}}
      weather_key: ${{c56b2a044f0d4ed09876f7a88a5ddddc}}
      weather_location: ${{119.33,41.60}}
      anniversary: ${{2020-01-01}}
      birthday: ${{2023-01-01}}
      myurl: ${{https://www.baidu.com}}
